@import './normalize.css';

* {
    box-sizing: border-box;
}
body {
    font-family: 'Montserrat', sans-serif;
}
.visits {
    margin-top: 50px;
    margin-bottom: 50px;
}
form :nth-child(odd),
form :nth-child(even) {
    margin-bottom: 10px;
}
.warning {
    color: tomato;
}
.display-none {
    display: none;
}
.drop-selected {
    opacity: 0.3;
}
#filter-submit-btn {
    max-width: 200px;
    margin-left: 50%;
    transform: translateX(-50%);
}
